In [3]:

from import_BigQuery import get_data
from store_sqlite import write_to_sqlite
from create_df import create_df
from clean import *
from summaries import *
from write_to_csv import write_to_csv
import json
import plotly.graph_objects as go

In [ ]:

def run_pipeline():
    write_to_sqlite()
    df=create_df()
    df=clean_dates(df)
    gdf= clean_geo(df)

    ## write summaries
    center_point_summary(gdf)
    zipcode_summary(gdf)

if __name__ == '__main__':
    run_pipeline()
    # if the name of my python instance is main, then go ahead and run the application. 
    # When you later run Python app.py in the terminal window the instance will be named main so it will run

In [5]:
df=create_df()

In [6]:
df=clean_dates(df)
df

,date,zipcode,city,state,count_lightning,center_point,year,month
0,2020-03-08,96021,"Corning city, Rancho Tehama Reserve CDP, Richf...",California,8,POINT(-122.2 39.9),2020,3
1,2020-08-11,96119,Madeline,California,8,POINT(-120.6 41),2020,8
2,2020-08-16,94552,"Union City city, Hayward city, Sunol CDP, Fair...",California,8,POINT(-122.1 37.8),2020,8
3,2020-08-16,94560,Newark city,California,8,POINT(-122 37.5),2020,8
4,2020-08-17,96025,Dunsmuir city,California,8,POINT(-122.4 41.2),2020,8
...,...,...,...,...,...,...,...,...
283460,1998-07-26,96132,Termo,California,4,POINT(-120 41),1998,7
283461,2003-09-05,96132,Termo,California,8,POINT(-120 40.9),2003,9
283462,2003-07-24,96132,Termo,California,14,POINT(-120.4 40.9),2003,7
283463,1992-08-13,96132,Termo,California,5,POINT(-120.7 41),1992,8
283464,1992-06-25,96132,Termo,California,10,POINT(-120 40.9),1992,6

In [4]:
gdf= clean_geo(df)
gdf

,date,zipcode,city,state,count_lightning,center_point,year,month,lon,lat
0,2020-03-08,96021,"Corning city, Rancho Tehama Reserve CDP, Richf...",California,8,POINT (-122.20000 39.90000),2020,3,-122.2,39.9
1,2020-08-11,96119,Madeline,California,8,POINT (-120.60000 41.00000),2020,8,-120.6,41.0
2,2020-08-16,94552,"Union City city, Hayward city, Sunol CDP, Fair...",California,8,POINT (-122.10000 37.80000),2020,8,-122.1,37.8
3,2020-08-16,94560,Newark city,California,8,POINT (-122.00000 37.50000),2020,8,-122.0,37.5
4,2020-08-17,96025,Dunsmuir city,California,8,POINT (-122.40000 41.20000),2020,8,-122.4,41.2
...,...,...,...,...,...,...,...,...,...,...
283460,1998-07-26,96132,Termo,California,4,POINT (-120.00000 41.00000),1998,7,-120.0,41.0
283461,2003-09-05,96132,Termo,California,8,POINT (-120.00000 40.90000),2003,9,-120.0,40.9
283462,2003-07-24,96132,Termo,California,14,POINT (-120.40000 40.90000),2003,7,-120.4,40.9
283463,1992-08-13,96132,Termo,California,5,POINT (-120.70000 41.00000),1992,8,-120.7,41.0
283464,1992-06-25,96132,Termo,California,10,POINT (-120.00000 40.90000),1992,6,-120.0,40.9

In [5]:
summary=center_point_summary(gdf)
summary

In [7]:
summary2 = zipcode_summary(gdf)
summary2

       zipcode  year  count_lightning
0        90027  1987                6
1        90027  1988                7
2        90027  1990                6
3        90027  1991                4
4        90027  1992                3
...        ...   ...              ...
25160    96161  2015              384
25161    96161  2016               46
25162    96161  2017              207
25163    96161  2018               93
25164    96161  2020               46

[25165 rows x 3 columns]